<h1 style="text-align: center; color: rgb(255, 255, 255); "  >Subida de Datos - Firebase</h1>

<hr>

<div style="text-align: center">

    <div class="container">
        <div class="row">
            <div class="col-md-4" style="position: relative;">

                <div class="card text-white bg-dark">

                    <div class="card-header bg-secondary" #imageFile>Subir Información del Estudiante</div>

                    <div class="card-body">
                        <img class="img-fluid" [src]="imgURL" class="card-img-top">
                        <hr style="border-color:azure">
                        <form (ngSubmit)="onSubmit()"[formGroup]="imagenesForm">
                            <div class="form-group">
                                <input type="file" class="form-control-file" class="form-control-file" 
                                    formControlName="imgFile" accept="image/*" (change)="slectImage($event)">
                                <button type="submit" class="btn btn-outline-secondary mt-3" [disabled]="btnActive">Enviar</button>
                            </div>
                        </form>
                    </div>

                </div>

            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card text-white bg-dark mb-3">
                        <div class="card-header bg-secondary">Lista de Estudiante</div>
                            <div class="table-responsive-sm">
                                <table class="table table-striped table-dark">
                                    <thead>
                                        <tr>
                                            <th scope="col">Fotografias</th>
                                            <th scope="col">Nombre y Apellido</th>
                                            <th scope="col">RUT</th>
                                            <th scope="col">Carrera</th>
                                            <th scope="col">Asignatura</th>
                                            <th scope="col">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let imagen of imagenesData">
                                            <td><img [src]="imagen.imgUrl" width="50"></td>
                                            <td>{{imagen.nombreImagen}}</td>
                                            <td>{{imagen.rut}}</td>
                                            <td>{{imagen.carrera}}</td>
                                            <td>{{imagen.asignatura}}</td>
                                            <td>
                                                <button class="btn btn-danger btn-sm" (click)="eliminar(imagen.id, imagen.nombreImagen)"><i class="fa fa-trash"></i> </button>
                                                <button class="btn btn-info btn-sm" (click)="actualizaDatos()"><i class="fa fa-pencil-square-o"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>