<h1 style="text-align: center">Subida de Datos - Firebase</h1>

<hr>

<div style="text-align: center">

    <div class="container">
        <div class="row">
            <div class="col-md-5" style="position: relative;">

                <div class="card text-white bg-dark">

                    <div class="card-header bg-secondary" #imageFile>Subir Información del Estudiante</div>

                    <div class="card-body">
                        <img class="img-fluid" [src]="imgURL" class="card-img-top">
                        <hr style="border-color:azure">
                        <form (ngSubmit)="onSubmit()"[formGroup]="imagenesForm">
                            <div class="form-group">
                                <input type="file" class="form-control-file" class="form-control-file" 
                                    formControlName="imgFile" accept="image/*" (change)="slectImage($event)">
                                <button type="submit" class="btn btn-outline-secondary mt-3" [disabled]="btnActive">Enviar</button>
                            </div>
                        </form>
                    </div>

                </div>

            </div>
            <div class="col-md-7">
                <div class="card">
                    <div class="card text-white bg-dark mb-3">
                        <div class="card-header bg-secondary">Lista de Estudiante</div>
                        <table class="table table-hover table-dark">
                            <thead>
                                <tr>
                                    <th scope="col">Fotografias</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>foto</td>
                                    <td>Nombre</td>
                                    <td><button class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> </button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>