<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-5" style="margin-top: 90px;">
            <div class="card bg-dark" style="color: white">
                <div class="header text-center">
                 <p>Hola! {{imgNombre | uppercase}}</p>
                </div>
                <img [src]="imgFoto" class="img-card-top">
                <div class="card-body text-center">
                    <hr class="my-3">
                    <p><strong>Sobre mí</strong></p>
                    <ul style="text-align: initial;">
                        <li>Carrera: </li>
                        <li>Asignaturas: </li>
                        <li>Fecha de nacimiento: </li>
                        <li>RUN: </li>
                    </ul>
                    <hr class="my-3">
                    <button type="button" class="btn btn-danger" (click)="volver()">Volver</button>
                </div>
            </div>
        </div>
        <div class="col-4"></div>
    </div>
</div>

